.left {
    position:absolute;
    left:0; top:0; bottom: 0;
    padding-left: 20px;
    width: 200px;
}
.main {
    position: absolute;
    left:220px; top:0; right:0; bottom:0;
}

select {
  width: 100%;
}

/* Box */


.box.post {
	width: 30%;
	display: inline-block;
	position: relative;
	margin: 0 0 2em 0;
}

.box.post:after {
	content: '';
	clear: both;
}

.box.post .inner {
	margin-left: calc(100px + 2em);
}

.box.post .inner > :last-child {
	margin-bottom: 0;
}

.box.post .image {
	width: 10%;
	margin: 0;
}

hr {
	width: 100%;
	border-top: 1px gray;
}

.menu > li {
list-style-type: none;
border: 1px solid black;
width: 240px;
height: 40px;
text-align: center;
float: left;
line-height: 40px;
}

.menu li ul li {
list-style-type: none;
border: 1px solid black;
width: 240px;
height: 40px;
}

.menu li ul {
display: none;
padding: 0;
}

.menu > li:hover ul {
display: block;
}